<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>Calculadora de Megas</title>
</head>

<body style="background: #1C1F23">
    <div id="app" class="container mt-5">
        <div class="text-light">
            <img src="assets/images/calculator.svg" width="64px" alt="">
        </div>

        <div class="row align-items-end mt-5">
            <div class="col">
                <h1 class="text-light display-2">
                    Uma simples<br> 
                    calculadora<br>
                    de megas.
                </h1>
            </div>
            <div class="col text-muted">
                <h5><i>O que faz?</i></h5>
                <h3>
                    Determina quanto <span style="cursor: help;" title="Calão, significa: Dinheiro">taco</span><br> tu precisas de gastar<br> para comprar <u style="cursor: help;">x</u> megas.
                </h3>

                <h5 class="mt-4"><i>Megas?</i></h5>
                <h3>
                    Pacote de dados de internet!
                </h3>
            </div>
        </div>

        <div class="mt-5 text-light">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <input v-model="inputMegas" @input="onInputCalculate" class="input" type="number" placeholder="Queres quantos megas?">
                </div>
            </div>
            <p class="mt-3 text-muted text-center">Sabendo que <Editable @input="onInputCalculate" :class="{isInvalid: megasPrice <= 0}" v-model="inputMegasPrice"></Editable> MT são <Editable @input="onInputCalculate" :class="{isInvalid: megasForPrice <= 0}" v-model="inputMegasForPrice"></Editable> MB</p>
        </div>

        <div class="mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-12">
                    <div :class="{'result-card': true, 'p-4': true, 'active': isResultActive}">
                        <div class="row">
                            <div class="col-auto">
                                <div class="currency text-center">
                                    <img src="assets/images/coins.svg" width="50px" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <h5 class="m-0">Para teres {{ mb }} MB precisas de:</h5>
                                    <h3 class="m-0"> {{ calculatedPrice }} MT</h3>
                                    <div class="small">
                                        que são um total de<span v-if="!calculatedExtraMegas"> exactamente</span> <span style="font-weight: 800;">{{ calculatedMegas }} MB </span>
                                    </div>
                                    <div v-if="calculatedExtraMegas" class="small" style="color: black;font-weight: 700">
                                        E ainda vais restar com {{ calculatedExtraMegas }} MB extra!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="mt-5 mb-4">
            <small style="font-weight: 800;" class="mt-5 text-muted">© 2021, Feito por <a class="text-reset text-decoration-none" href="https://kishanjadav.com">Kishan Nareshpal</a></small>
        </div>
    </div>


    <!-- JS -->
    <script src="app.js"></script>
    
</body>

</html>